<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Euclase Editor</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	</head>
	<body>
		<div id="editor"></div>

		<div>
			<%- red_include(red_inc.vendor) %>
			<%- red_include(red_inc.runtime) %>
			<%- red_include(red_inc.editor) %>
			<script type="text/javascript">
				$(function () {
					$("div#editor").editor({
					//	debug_ready: true,
					//	debug_env: true,
					//	command_box: true
					});
				});
			</script>
		</div>
	</body>
</html>
