<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Interstate Runtime: Same Window</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>
  <body>
		<div class="output"></div>
	  <div>
			<%- ist_include(ist_inc.vendor) %>
			<%- ist_include(ist_inc.runtime) %>
			<%- ist_include(ist_inc.editor) %>
			<%- ist_include(ist_inc.runtime_style) %>
			<script type="text/javascript">
				window.env = new interstate.Environment();
				function getTime() {
					return (new Date()).getTime();
				}

				var do_test = function(test_info, min_N, max_N) {
					var times = [0],
						n = min_N,
						startTime;

					for(; n<=max_N; n++) {
						test_info.do_setup(n);
						startTime = getTime();
						test_info.do_test(n);
						times[n] = getTime() - startTime;
						if(!test_info.verify(n)) {
							throw new Error("Incorrect output for n="+n);
						}
						test_info.do_cleanup(n);
					}
					return times;
				};

				$("div.output").dom_output({
					open_separate_client_window: false,
					show_edit_button: false,
					root: env.get_root()
				});

				var min_N = 1,
					max_N = 10000;

				var results = interstate._.map([{
						do_setup: function(n) {
							env	.set("obj", "<stateful>")
								.cd("obj")
									.set("(prototypes)", "(start)", "dom.div")
									.set("(copies)", n+"")
									.top();
						},
						do_test: function(n) {
							env	.cd("obj")
									.set("textContent", "'target'")
									.top();
						},
						do_cleanup: function(n) {
							env	.unset("obj")
								.top();
						},
						verify: function(n) {
							var output = $("div.output > div > div");
							if(output.length === n) {
								for(var i = 0; i<output.length; i++) {
									if($(output[i]).text()!=='target') {
										return false;
									}
								}
								return true;
							}
							return false;
						}
					}, {
						do_setup: function(n) {
							for(var i = 0; i<n; i++) {
								env	.set("obj_"+i, "<stateful>")
									.cd("obj_"+i)
										.set("(prototypes)", "(start)", "dom.div")
										.top();
							}
						},
						do_test: function(n) {
							env	.cd("obj_0")
									.set("textContent", "'target'")
									.top();
						},
						do_cleanup: function(n) {
							for(var i = 0; i<n; i++) {
								env.unset("obj_"+i);
							}
							env.top();
						},
						verify: function(n) {
							var output = $("div.output > div > div");
							if(output.length === n) {
								for(var i = 0; i<output.length; i++) {
									if($(output[i]).text()!==(i===0?'target':'no text')) {
										return false;
									}
								}
								return true;
							}
							return false;
						}
					}, {
						do_setup: function(n) {
							var protos_list = [];
							for(var i = 0; i<n; i++) {
								env	.set("proto_"+i, "<stateful>")
									.cd("proto_"+i)
										.set("show", "(start)", "false");

								if(i === 0) {
									env.set("(prototypes)", "(start)", "dom.div");
								}

								env.top();
								protos_list.push("proto_" + i);
							}

							var protos_str = "[" + protos_list.join(",") + "]";

							env	.set("obj", "<stateful>")
								.cd("obj")
									.set("(prototypes)", "(start)", protos_str)
									.set("show", "(start)", "true")
									.top();
						},
						do_test: function(n) {
							env	.cd("proto_0")
									.set("textContent", "'target'")
									.top();
						},
						do_cleanup: function(n) {
							for(var i = 0; i<n; i++) {
								env.unset("proto_"+i);
							}
							env	.top()
								.unset("obj")
								.top();
						},
						verify: function(n) {
							var output = $("div.output > div > div");
							if(output.length === 1) {
								for(var i = 0; i<output.length; i++) {
									if($(output[i]).text()!=='target') {
										return false;
									}
								}
								return true;
							}
							return false;
						}
					}, {
						do_setup: function(n) {
							var protos_list = ["dom.div"];
							for(var i = 0; i<n; i++) {
								env	.set("proto_"+i, "<stateful>")
									.cd("proto_"+i)
										.set("(prototypes)", "(start)", (i===0 ? "dom.div" : ("proto_"+(n-1))))
										.set("show", "(start)", "false")
										.top();
								protos_list.push("proto_" + i);
							}

							var protos_str = "[" + protos_list.join(",") + "]";

							env	.set("obj", "<stateful>")
								.cd("obj")
								.set("(prototypes)", "(start)", protos_str)
									.set("show", "(start)", "true")
									.top();
						},
						do_test: function(n) {
							env	.cd("proto_0")
									.set("textContent", "'target'")
									.top();
						},
						do_cleanup: function(n) {
							for(var i = 0; i<n; i++) {
								env.unset("proto_"+i);
							}
							env	.top()
								.unset("obj")
								.top();
						},
						verify: function(n) {
							return true;
							var output = $("div.output > div > div");
							if(output.length === 1) {
								for(var i = 0; i<output.length; i++) {
									if($(output[i]).text()!=='target') {
										return false;
									}
								}
								return true;
							}
							return false;
						}
					}], function(test_info) {
						return do_test(test_info, min_N, max_N);
					});
					var results_str = interstate._.map(results, function(result) {
							return result.join(",");
						}).join("\n");
					$("body").html("<pre>"+results_str+"</pre>");
			</script>
	  </div>
  </body>
</html>
