<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Interstate Runtime: Same Window</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>
  <body>
		<pre class="results"></pre>
		<div class="output"></div>
	  <div>
			<%- ist_include(ist_inc.vendor) %>
			<%- ist_include(ist_inc.runtime) %>
			<%- ist_include(ist_inc.editor) %>
			<%- ist_include(ist_inc.runtime_style) %>
			<script type="text/javascript">

				window.env = new interstate.Environment({builtins: ["dom"]});
				function getTime() {
					return (new Date()).getTime();
				}
				function median(values) {
					values.sort( function(a,b) {return a - b;} );

					var half = Math.floor(values.length/2);

					if(values.length % 2) {
						return values[half];
					} else {
						return (values[half-1] + values[half]) / 2.0;
					}
				}

				var ens = [],
					min_N = 120,
					max_N = 121,
					trials = 1;
				for(var i = min_N; i<max_N; i*=1.3) {
					ens.push(Math.round(i));
				}
				ens.reverse();

				var results = [],
					update_results = function() {
						var average_results = [],
							test_average_results,
							trial_num, num_trials, curr_trial,
							test_num, num_tests, curr_test,
							n, max_n, curr_result;

						num_trials = results.length;
						for(trial_num = 0; trial_num<num_trials; trial_num++) {
							curr_trial = results[trial_num];
							num_tests = curr_trial.length;
							for(test_num = 0; test_num < num_tests; test_num++) {
								if(average_results[test_num]) {
									test_average_results = average_results[test_num];
								} else {
									test_average_results = average_results[test_num] = [];
								}
								curr_test = curr_trial[test_num];
								max_n = curr_test.length;

								for(n = 0; n<max_n; n++) {
									curr_result = curr_test[n];
									if(test_average_results[n]) {
										test_average_results[n].push(curr_test[n]);
									} else {
										test_average_results[n] = [curr_test[n]];
									}
								}
							}
						}

						num_tests = average_results.length;
						for(test_num = 0; test_num < num_tests; test_num++) {
							curr_test = average_results[test_num];
							max_n = curr_test.length;

							for(n = 0; n < max_n; n++) {
								curr_test[n] = Math.round(median(curr_test[n]));
							}
						}

						$("body > pre.results").text(ens.join(",")+"\n"+interstate._.map(average_results, function(result) {
								return interstate._.compact(result).join(",");
							}).join("\n"));
					},
					do_test = function(test_info, times, callback) {
						var startTime, results_str;

						var doTest = function(i) {
							if(!i) { i = 0; }
							var n = ens[i];

							if(i >= ens.length) {
								callback();
							} else {
								test_info.do_setup(n);
								startTime = getTime();
								console.profile("Test " + n);
								test_info.do_test(n);
								console.profileEnd("Test " + n);
								times[i] = getTime() - startTime;
								
								//if(!test_info.verify(n)) {
									//throw new Error("Incorrect output for n="+n);
								//}
								test_info.do_cleanup(n);
								update_results();

								setTimeout(function() {
									doTest(i+1);
								});
							}
						};

						doTest();
					};

				$("div.output").dom_output({
					open_separate_client_window: false,
					show_edit_button: false,
					root: env.get_root()
				});

				var tests = [{
						do_setup: function(n) {
							env	.set("obj", "<stateful>")
								.cd("obj")
									.set("(prototypes)", "(start)", "dom.div")
									.set("(copies)", n+"")
									.set("textContent", "(start)", "'not yet set'")
									;
						},
						do_test: function(n) {
							env.set("textContent", "(start)", "'target'")
						},
						do_cleanup: function(n) {
							env	.top()
								.unset("obj")
								.top();
						},
						verify: function(n) {
							var output = $("div.output > div > div");
							console.log(output.length);
							if(output.length === n) {
								for(var i = 0; i<output.length; i++) {
									if($(output[i]).text()!=='target') {
										return false;
									}
								}
								return true;
							}
							return false;
						}
					}, /*{
						do_setup: function(n) {
							var protos_list = [];
							for(var i = 0; i<n; i++) {
								env	.set("proto_"+i, "<stateful>")
									.cd("proto_"+i)
										//.set("show", "(start)", "false");

								if(i === 0) {
									env.set("(prototypes)", "(start)", "dom.div");
								}

								env.top();
								protos_list.push("proto_" + i);
							}

							var protos_str = "[" + protos_list.join(",") + "]";

							env	.set("obj", "<stateful>")
								.cd("obj")
									.set("(prototypes)", "(start)", protos_str)
									//.set("show", "(start)", "true")
									.top();
						},
						do_test: function(n) {
							env	.cd("proto_0")
									.set("textContent", "'target'")
									.top();
						},
						do_cleanup: function(n) {
							for(var i = 0; i<n; i++) {
								env.unset("proto_"+i);
							}
							env	.top()
								.unset("obj")
								.top();
						},
						verify: function(n) {
							var output = $("div.output > div > div");
							if(output.length === 2) {
								for(var i = 0; i<output.length; i++) {
									if($(output[i]).text()!=='target') {
										return false;
									}
								}
								return true;
							}
							return false;
						}
					}/*, {
						do_setup: function(n) {
							var protos_list = ["dom.div"];
							for(var i = 0; i<n; i++) {
								env	.set("proto_"+i, "<stateful>")
									.cd("proto_"+i)
										.set("(prototypes)", "(start)", (i===0 ? "dom.div" : ("proto_"+(i-1))))
										.set("show", "(start)", "false")
										.top();
								protos_list.push("proto_" + i);
							}

							var protos_str = "[" + protos_list.join(",") + "]";

							env	.set("obj", "<stateful>")
								.cd("obj")
								.set("(prototypes)", "(start)", protos_str)
									.set("show", "(start)", "true")
									.top();
						},
						do_test: function(n) {
							env	.cd("proto_0")
									.set("textContent", "'target'")
									.top();
						},
						do_cleanup: function(n) {
							for(var i = 0; i<n; i++) {
								env.unset("proto_"+i);
							}
							env	.top()
								.unset("obj")
								.top();
						},
						verify: function(n) {
							return true;
							var output = $("div.output > div > div");
							if(output.length === 1) {
								for(var i = 0; i<output.length; i++) {
									if($(output[i]).text()!=='target') {
										return false;
									}
								}
								return true;
							}
							return false;
						}
					}/**/];
				var test_num = 0,
					trial_num = 0,
					next_test = function(cback) {
						var times = results[trial_num][test_num] = [0];
						do_test(tests[test_num], times, function() {
							test_num++;
							if(test_num >= tests.length) {
								cback();
							} else {
								next_test(cback);
							}
						});
					},
					do_trial = function() {
						results[trial_num] = [];

						next_test(function() {
							trial_num++;
							if(trial_num >= trials) {
								env.destroy();
								$("div.output")	.dom_output("destroy")
												.text("done");
							} else {
								test_num = 0;
								do_trial();
							}
							update_results();
						});
					};
				setTimeout(function() {
					console.log("Begin");
					setTimeout(function() {
						do_trial();
					}, 50);
				}, 50);
			</script>
	  </div>
  </body>
</html>
