<!DOCTYPE html>
<html lang="en">
	<head>
		<style type="text/css">
			.tl { position: absolute; top: 0; left: 0; right: 50%; bottom: 50%;  }
			.tr { position: absolute; top: 0; left: 50%; right: 0; bottom: 50%;  }
			.bl { position: absolute; top: 50%; left: 0; right: 50%; bottom: 0;  }
			.br { position: absolute; top: 50%; left: 50%; right: 0; bottom: 0;  } 
			.red_square {
				width: 150px;
				height: 150px;
				background-color: red;
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<div class="tl"><span class="label">Master</span></div>
		<div class="tr"><span class="label">Shadow</span></div>
		<div class="bl"><span class="label">Shadow Puppet</span></div>
		<div class="br">
			<span class="red_square"></span>
		</div>
		<div>
			<%- red_include(red_inc.vendor) %>
			<%- red_include(red_inc.runtime) %>
			<script type="text/javascript">
				var get_view = function(statechart, editable) {
					var el = window.document.createElement("div");
					el.style.position = "relative";
					var layout_engine = new red.RootStatechartLayoutEngine([statechart]);
					var paper = new Raphael(el, 0, 0);
					red._.defer(function() {
						var master_view = new red.RootStatechartView([statechart], layout_engine, paper);
						if (editable) {
							master_view.on("rename_state", function (event) {
								var state = event.state,
									to_name = event.str;
								state.parent().rename_substate(state.get_name("parent"), to_name);
							}).on("remove_state", function (event) {
								var state = event.state;
								state.parent().remove_substate(state.get_name("parent"), state);
							}).on("change_transition_event", function (event) {
								var transition = event.transition,
									event_str = event.str;
								var transition_event = transition.event();
								transition_event.set_str(event_str);
							}).on("remove_transition", function (event) {
								var transition = event.transition;
								transition.remove();
							}).on("add_transition", function (e) {
								var from = e.from,
									to = e.to;
								var transition_event = red.create_event("parsed", {str: "(event)", inert: true});
								from.parent().add_transition(from, to, transition_event);
							}).on("add_state", function (e) {
								var statechart = e.statechart;
								var substates = statechart.get_substates();
								var substates_size = red._.size(substates);
								var state_name, make_start;

								if(substates_size === 0) {
									state_name = "init";
									make_start = true;
								} else {
									state_name = "state_" + substates_size;
									make_start = false;
								}
								statechart.add_state(state_name);
								if(make_start) {
									statechart.starts_at(state_name);
								}
							});
						}
					});
					return el;
				};
				$(function() {
					var dict = red.create("dict");
					dict.set("sq", $(".red_square")[0]);
					dict.set("on", red.on_event);
					dict.set("emit", red.emit);
					dict.set("find", function (find_root) {
						if (arguments.length === 0) {
							find_root = new red.ContextualObject({pointer: root_pointer});
						}
						return new red.Query({value: find_root});
					});
					var ptr_context = red.create("pointer", {stack: [dict]});

					var master = window.master = red.create("statechart");
					master	//.add_state("init")
							//.starts_at("init")
							//.add_state("state2");

					var master_view = get_view(master, true);
					$(".tl").append(master_view);
					/*

					var shadow = window.shadow = master.create_shadow({ context: ptr_context, running: true });
					var shadow_view = get_view(shadow);
					$(".tr").append(shadow_view);
					*/

					var sc_sum = {
						type: 'statechart',
						id: master.id()
					};

					var pss = new red.ProgramStateServer({
						comm_mechanism: new red.SameWindowCommWrapper(),
						client_window: window,
						root: red.create("dict")
					});
					var psc = new red.ProgramStateClient({
						comm_mechanism: new red.SameWindowCommWrapper()
					});
					psc.on_loaded();
					var wrapper_client = psc.get_wrapper_client(sc_sum);
					var puppet = window.puppet = red.create_remote_statechart(wrapper_client);
					var puppet_view = get_view(puppet);
					$(".bl").append(puppet_view);
					
					/*
					window.setTimeout(function() {
						master.remove_state("init");
					}, 500);
					/**/
				});
			</script>
		</div>
	</body>
</html>
