[submodule "src/vendor/cjs"]
	path = src/vendor/cjs
	url = https://github.com/soney/ConstraintJS
[submodule "src/vendor/esprima"]
	path = src/vendor/esprima
	url = https://github.com/ariya/esprima.git
