<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Interstate Runtime</title>
  </head>
  <body>
		<div class="content">
		</div>
	  <div>
			<%- red_include(red_inc.vendor) %>
			<%- red_include(red_inc.runtime) %>
			<%- red_include(red_inc.runtime_style) %>

			<script type="text/javascript">
				var env, the_div, root;
				window.save = function(name) {
					return red.save(the_div.dom_output("option", "root"), name);
				};
				window.load = function(name) {
					root = red.load(name);
					if(the_div.data("dom_output")) {
						the_div.dom_output("destroy")
					}
					if(env) {
						env.destroy();
					}
					env = new red.Environment({root: root});
					env.print_on_return = true;
					the_div.dom_output({
						root: root,
						//edit_on_open: true,
						editor_url: window.location.protocol + "//" + window.location.host + "/src/view/editor/editor.ejs.html"
					});
					return root;
				};
				window.upload = function(name) {
					$.ajax({
						url: "http://euc.from.so/gallery/upload.php",
						type: "POST",
						dataType: "text",
						data: {
							root: red.stringify(root),
							name: red._.isString(name) ? name : "(no name)"
						},
						success: function(data) {
							console.log(data);
						}
					});
				};
				window.ls = red.ls;

				$(function() {
					the_div = $("<div />").appendTo(document.body);
					try {
						root = load();
					} catch(e) {
						console.log("Creating a new project");
						env = new red.Environment();

						root = env.get_root();

						the_div.dom_output({
							root: root,
				//			edit_on_open: true,
							editor_url: window.location.protocol + "//" + window.location.host + "/src/view/editor/editor.ejs.html"
						}).on("change_root", function(new_root) {
							console.log(new_root);
						});
						env.print_on_return = true;
					}
				});
				$(window).on("beforeunload", function() {
					if(window.nosave !== true) {
						save();
					}
				});
				window.nuke = function() {
					nosave = true;
					red.nuke();
				};
				//nosave = true;
			</script>
	  </div>
  </body>
</html>
