.zflow {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.zflow div.centering {
    -webkit-perspective: 600;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
}

.zflow div.tray {
    position: absolute;
    left: 50%;
    top: 50%;
    
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
}

.zflow div.cell {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);

    -webkit-transition-property: -webkit-transform opacity;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
}

.zflow div.cell img {
    position: absolute;
}

.zflow div.cell canvas {
    position: absolute;
}

.overlay {
}
