<!DOCTYPE html>
<html lang="en">
	<head>
		<title>red</title>
		<style type="text/css">
			div#editor pre.output {
				font-family: Courier New, Courier, monospace;
				font-size: 0.8em;
				font-weight: normal;
				white-space: pre;
			}
			.group {
				font-weight: bold;
			}
			.group > .children {
				padding-left: 1em;
			}
			.collapsed.group > .children {
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="editor">
		</div>

		<div>
			<%- red_include(red_inc.main) %>
			<script type="text/javascript">
				$(function() {
					$("div#editor").editor({
						//debug_ready: true,
						debug_env: true,
						command_box: true
					});
				});
			</script>
		</div>
	</body>
</html>
