$nav_header_color: #F7F7F7;
$nav_header_hover_color: #EEE;
$nav_header_active_color: #E0E0E0;

$value_summary_width: 50px;
$active_obj_value_summary_width: 100px;
$unset_prop_val_radius: 7px;

@mixin non-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

html.full_window_editor {
	height: 100%;
	
	> body {
		height: 100%;
		padding: 0px;
		margin: 0px;
		
		> #editor {
			height: 100%;
		}
	}
}


#editor {
	font-family: "Source Sans Pro";

	> #obj_nav {
		height: 100%;
		float: left;

		> table.col {
			border: 1px solid #CCC;
			border-top: none;

			min-width: 100px;

			float: left;
			border-collapse: collapse;

			&.curr_col {
				min-width: 250px;
				border-right: 1px solid #888;

				> tbody > .header {
					background-color: $nav_header_active_color;
				}

				> tbody > tr > .val_col {
					max-width: $active_obj_value_summary_width;
				}

				> tbody > tr {
					> .val_col {
						border-right: 1px solid #888;
					}
				}
			}
			> tbody {
				> tr > .val_col {
					max-width: $value_summary_width;
					overflow: hidden;
					text-align: right;
					word-break: break-all;
					white-space: nowrap;
					text-align: right;
				}

				> tr > th {
					font-weight: normal;
				}
				> tr > th, > tr > td {
					padding: 0px;
					margin: 0px;
				}

				> .header {
					@include non-selectable;
					background-color: $nav_header_color;
					border-bottom: 1px solid #AAA;

					> th:hover {
						background-color: $nav_header_hover_color;
					}

					> .prev {
						text-align: center;
						vertical-align: center;
						border-right: 1px solid #CCC;
						cursor: pointer;
						> a {
							top: 4px;
							color: #666;
							font-size: 1.2em;
							text-decoration: none;
						}
					}

					> .obj_name {
						cursor: pointer;
						font-weight: 100;
						text-align: center;
						font-size: 1.5em;
						padding-top: 4px;
						padding-bottom: 2px;
					}

					> .edit {
						font-size: 0.7em;
						cursor: pointer;
						text-align: center;
						vertical-align: middle;
						border-left: 1px solid #CCC;
						> a {
							text-decoration: none;
						}
					}
					
					> .statechart {
						&:hover {
							background-color: inherit;
						}
						vertical-align: bottom;
					}
				}

				> .child {
					@include non-selectable;

					font-family: "Inconsolata";
					font-size: 1em;

					&:nth-child(even) {
						background-color: #FFF;
					} &:nth-child(odd) {
						background-color: #FAFAFA;
					}
					border-top: 1px solid #EEE;

					> .name {
						cursor: pointer;
						padding-left: 2px;
						padding-right: 5px;
					}

					> .value_summary {
						overflow: hidden;
						display: inline-box;
						height: 100%;
						box-sizing: border-box;
						padding-right: 2px;
						word-break: break-all;
						text-align: right;
						
						border-left: 1px solid #EEE;
						color: #888;
						&.dict {
							text-align: right;
							color: #CCC;
							border-left: 1px dashed #EEE;
							cursor: pointer;
						}
						
						&.constant {
							background-color: #EEE;
						}
					}

					&:hover {
						background-color: rgb(244, 246, 250);
					}

					&.selected {
						background-color: rgb(82, 116, 212);
						color: white;
						> .value_summary.dict {
							border-left: 1px dashed #99B;
						}
					}

					> .src {
						position: relative;
						vertical-align: top;
						background-color: white;

						> .cell, >.unset {
							position: absolute;
						}

						> .cell {
							@include non-selectable;
							background-color: #EEE;
							border-left: 1px solid #CCC;
							border-right: 1px solid #CCC;
							cursor: pointer;
							text-align: center;
							overflow: hidden;
							word-break: break-all;
							white-space: nowrap;

							&.active {
								color: red;
								border-left: 1px solid red;
								border-right: 1px solid red;
							}
						}

						> .unset {
							width: $unset_prop_val_radius * 2;
							height: $unset_prop_val_radius * 2;
							border-radius: $unset_prop_val_radius;
							border: 1px solid #CCC;
							box-sizing: border-box;
							background-color: #EEE;
							display: inline-block;
							top: 1px;
							cursor: pointer;
							&:hover {
								background-color: #DEDEDE;
							}
						}
					}
				}
			}
		}
	}
}

