$nav_header_color: #F7F7F7;
$nav_header_hover_color: #EEE;
$nav_header_active_color: #E0E0E0;

$nav_header_text_color: #888;
$nav_header_active_text_color: #222;

$nav_selected_color: rgb(82, 116, 212);

$nav_column_text_color: #666;
$nav_column_active_text_color: #222;

$value_summary_width: 50px;
$active_obj_value_summary_width: 100px;
$unset_prop_val_radius: 7px;
$drag_handle_width: 15px;
$dropdown_padding: 5px;

$link_color: royalblue;

@mixin non-selectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin link {
	color: $link_color;
	text-decoration: none;
	@include non-selectable;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

html.full_window_editor {
	//height: 100%;
	background-color: #FEFEFE;
	
	> body {
	//	height: 100%;
		margin: 0px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		
		> #editor {
	//		height: 100%;
		}
	}
}


#editor {
	font-family: "Source Sans Pro";

	> .menu {
		position: fixed;
		right: 0px;
		top: 0px;
		z-index: 999999;
		> .title {
			cursor: pointer;
			top: 5px;
			position: relative;
			padding: 5px;
			font-variant: small-caps;
			background-color: #555;
			color: white;
			&:hover {
				text-decoration: underline;
			}
			@include non-selectable;
		}
		> .contents {
			box-shadow: 0px 0px 10px #666;
			background-color: #EEE;
			border: 1px solid #AAA;
			border-top: none;
			border-right: none;
			width: 200px;
			font-size: 0.9em;
			> .item {
				padding: 3px;
				border-top: 1px solid #DDD;
				cursor: pointer;
				@include non-selectable;
				&:first-child {
					border-top: none;
				}
				&:hover {
					background-color: #E0E0E0;
				}
				&.disabled {
					color: #BBB;
					cursor: default;
					&:hover {
						background-color: #EEE;
					}
				}
			}
		}
	}

	&.tablet, &.phone {
		font-size: 1.5em;
	}

	&.phone {
		> #obj_nav {
			width: 100%;
			> table.col {
				width: 100%;
			}
		}
	}

	> #obj_nav {
		margin: 15px;
		float: left;

		> table.col {
			border: 1px solid #CCC;

			min-width: 100px;

			float: left;
			border-collapse: collapse;
			margin: 5px;

			&.curr_col {
				min-width: 250px;
				box-shadow: 2px 2px 10px #666;

				> tbody {
					> .child {
						color: $nav_column_active_text_color;
					}


					> tr {
						> td.add_prop {
							vertical-align: bottom;
							> .add_prop {
								color: black;
								display: block;
							}
						}
						> .value_summary {
							max-width: $active_obj_value_summary_width;
							border-right: 1px solid #DDD;
							&.stateful_prop {
								border-right: 1px solid #999;
							}
						}
					}
				}
			}

			> tbody {
				> tr > .value_summary {
					max-width: $value_summary_width;
					overflow: hidden;
					text-align: right;
					word-break: break-all;
					white-space: nowrap;
					text-align: right;
				}


				> tr > th {
					font-weight: normal;
				}
				> tr > th, > tr > td {
					padding: 0px;
					margin: 0px;
				}

				> tr.no_children {
					&.dragtop {
						border-top: 3px solid $nav_selected_color;
					}
					&.dragbottom {
						border-bottom: 3px solid $nav_selected_color;
					}

					> td {
						@include non-selectable;
						font-weight: 100;
						cursor: pointer;
						text-align: left;
						padding: 5px;
						padding-left: $drag_handle_width;
						background-color: white;
						color: #999;
					}
				}

				> .header {
					@include non-selectable;
					color: $nav_header_text_color;
					background-color: $nav_header_color;
					height: 35px;

					> th:hover {
						background-color: $nav_header_hover_color;
					}
					

					> .obj_name {
						cursor: pointer;
						text-align: center;
						position: relative;
						> h2 {
							font-size: 1.7em;
							font-weight: 100;
							margin: 0px;
							padding-top: 4px;
							padding-bottom: 2px;
						}
						> a.prev {
							top: 4px;
							color: #888;
							font-size: 1.2em;
							text-decoration: none;
							position: absolute;
							left: 0px;
							padding-left: 5px;
							padding-right: 5px;
						}
						> .show_options {
							font-weight: 100;
							font-size: 0.8em;
							padding-top: 1px;
							padding-bottom: 3px;
							color: #AAA;
							&:hover {
								color: $link_color;
								text-decoration: underline;
							}
						}
						> .copy {
							color: #888;

							> input.copy_input {
								outline: none;
								border: none;
								background: none;
								font-family: inherit;
								font-size: inherit;
								font-weight: inherit;
							}

							> span {
								> .of_text {
									color: #BBB;
								}
							}
						}
					}

					> .statechart_cell {
						border-left: 1px solid #AAA;
						&:hover {
							background-color: inherit;
						}
						vertical-align: bottom;
					}
				}

				> .options {
					background-color: $nav_header_color;
					form.options {
						> fieldset {
							> legend {
								color: #888;
								text-align: right;
							}
							background-color: #EEE;
							border: 1px solid #888;
							font-size: 0.8em;
							margin: 10px;

							> div.copies_option_container {
								> input#copies {
									display: block;
									font-family: "Inconsolata";
									color: black;
									background-color: #DDD;
									border: 1px solid #666;
									font-size: inherit;
								}
							}

							> div.state_machine_option_container {
								margin-top: 9px;
								margin-bottom: 5px;
								border-top: 1px solid #AAA;
								padding-top: 8px;
								> #own_label, #none_label {
									margin-right: 10px;
								}
							}

							> div.can_inherit_option_container {
								margin-top: 9px;
								margin-bottom: 5px;
								padding-top: 8px;
								border-top: 1px solid #AAA;
							}

							> hr {
								border: 1px solid #DDD;
							}

							> .reset.button {
								@include link;
							}
						}
						margin-bottom: 5px;
					}
				}
				
				> .add_prop {
					> td.add_prop {
						background-color: $nav_header_color;
						> .add_prop {
							font-size: 0.9em;
							padding: 4px;
							text-align: center;
							background-color: white;
							@include link;
							color: #999;
							&:hover {
								color: $link_color;
							}
						}
					}
				}

				> .child {
					@include non-selectable;
					color: $nav_column_text_color;

					font-family: "Inconsolata";
					font-size: 1em;

					&:nth-child(even) {
						background-color: #FFF;
					} &:nth-child(odd) {
						background-color: #FAFAFA;
					}
					border-top: 1px solid #EEE;

					&:focus {
					//	outline: none;
					//	border: 1px solid $nav_selected_color;
					}

					&.dragging {
						background-color: $nav_selected_color;
						color: white;
						&:hover {
							background-color: $nav_selected_color;
						}
					}

					&.dragtop {
						border-top: 3px solid $nav_selected_color;
					}
					&.dragbottom {
						border-bottom: 3px solid $nav_selected_color;
					}

					> .name {
						cursor: pointer;
						padding-left: 2px;
						padding-right: 5px;

						> .drag_handle {
							cursor: -moz-grab;
							cursor: -webkit-grab;

							&:active {
								cursor: -moz-grabbing;
								cursor: -webkit-grabbing;
							}
							color: #DDD;
							font-size: 0.7em;
							width: $drag_handle_width;
							display: inline-block;
						}
						
						> .prop_name {
							> input {
								background: none;
								border: none;
								font-size: inherit;
								font-family: inherit;
								color: inherit;
							}
						}

						> .edit {
							font-family: "Source Sans Pro";
							position: absolute;
							width: 140px;
							border: 1px solid black;
							box-shadow: 2px 2px 10px #666;
							background-color: #EEE;
							color: black;
							font-weight: 200;
							z-index: 999;
							> .item {
								border-top: 1px solid #AAA;
								padding-left: 5px;
								&:first-child {
									border-top: none;
								}
								&:hover {
									background-color: #DDD;
								}
							}
						}
					}


					> .value_summary {
						cursor: pointer;
						overflow: hidden;
						height: 100%;
						box-sizing: border-box;
						-moz-box-sizing: border-box;
						padding-right: 2px;
						text-align: right;
						
						border-left: 1px solid #EEE;
						color: #888;

						> .dict {
							text-align: right;
							cursor: pointer;

							>.copies {
								color: #BBB;
								padding-right: 3px;
							}

							>.expand_arrow {
								color: #CCC;
							}
						}
						
						&.constant {
							background-color: #EEE;
						}
					}

					&:hover {
						background-color: rgb(244, 246, 250);
					}

					&.selected {
						background-color: rgb(82, 116, 212);
						color: white;
						.drag_handle {
							color: rgb(190, 190, 190);
						}
						> .value_summary {
							border-left: 1px dashed #99B;
							> .dict {
								color: white;
							}
						}
					}

					&.inherited {
						cursor: default;
						opacity: 0.5;
						background-image: url('images/stripe.png');
					}

					> .src {
						position: relative;
						display: block;
						vertical-align: top;

						> .cell, >.unset {
							position: absolute;
						}

						> .cell {
							@include non-selectable;
							background-color: #EEE;
							border-left: 1px solid #CCC;
							border-right: 1px solid #CCC;
							cursor: pointer;
							text-align: center;
							overflow: hidden;
							word-break: break-all;
							white-space: nowrap;

							.tooltip {
								position: absolute;
								z-index: 9999;
								font-size: 5em;
							}

							&.active {
								color: green;
								border-left: 1px solid green;
								border-right: 1px solid green;
							}
							&.error {
								color: white;
								background-color: #900;
							}
							&.editing {
								z-index: 99;
								padding: 0px;
								overflow: visible;
								background: none;
								border: none;
							}
							> textarea {
								width: 100%;
								font-family: inherit;
								text-align: inherit;
								font-size: inherit;
								padding: 2px;
								margin: 0px;
								height: 16px;
								text-align: left;
								background-color: #EEE;
								border: 1px solid #CCC;
								box-shadow: 0px 0px 5px #777;
							}
						}

						> .pure_cell {
							color: black;
							text-align: center;
							display: block;
							max-width: $active_obj_value_summary_width;
							white-space: nowrap;
							overflow: hidden;
							min-width: 30px;
							min-height: 17px;
							> textarea {
								background: none;
								border: none;
								font-size: inherit;
								font-family: inherit;

								position: absolute;
								left: 0px;
								top: 0px;
								z-index: 10;

								width: 100%;
								font-family: inherit;
								text-align: inherit;
								font-size: inherit;
								padding: 2px;
								margin: 0px;
								height: 16px;
								text-align: left;
								background-color: #EEE;
								border: 1px solid #CCC;
								box-shadow: 0px 0px 5px #777;
							}
						}

						> .unset {
							width: $unset_prop_val_radius * 2;
							height: $unset_prop_val_radius * 2;
							border-radius: $unset_prop_val_radius;
							border: 1px solid #CCC;
							box-sizing: border-box;
							-moz-box-sizing: border-box;
							background-color: #EEE;
							display: inline-block;
							top: 1px;
							cursor: pointer;
							&:hover {
								background-color: #DEDEDE;
							}
						}

						&.cannot_modify {
							background-image: url('images/stripe.png');
							display: table-cell;
						}
					}
				}
			}
		}
	}
}

.dropdown {
	position: relative;
	color: #333;
	> .btn {
		cursor: pointer;
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		> .caret {
			display: inline-block;
			width: 0px;
			height: 0px;
			border-top: 4px solid #000;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			vertical-align: top;
			content: "";
			margin-top: 6px;
			position: absolute;
			right: 10px;
		}
		border-radius: 3px;
	}
	> .menu {
		display: none;
		position: absolute;
		left: -1px;

		border: 1px solid black;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-top: none;
		background-color: white;

		width: 100%;
		z-index: 999;
	}
	border-radius: 3px;
	&.expanded {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;

		> .menu {
			display: block;
		}
	}
}

.submenu {
	> .btn {
		> .right_caret {
			display: inline-block;
			width: 0px;
			height: 0px;
			border-left: 4px solid #000;
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			vertical-align: top;
			content: "";
			margin-top: 3px;
			position: absolute;
			right: 10px;
		}
	}
	> .menu {
		display: none;
		position: absolute;
		left: 100%;
		top: -1px;

		border: 1px solid black;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;

		width: 100%;
		z-index: 9999;
	}
	&.expanded {
		> .menu {
			display: block;
		}
	}
}

.placeholder {
	opacity: 0.5;
}
.statechart {
	position: relative;
	> .dropdown {
		font-size: 0.8em;
		&.transition {
			font-size: 0.6em;
		}
		border: 1px solid #333;
		background-color: #EEE;
		left: 1px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		z-index: 9999;
		> .menu_item {
			cursor: pointer;
			padding-left: 2px;
			text-align: left;
			background-color: #EEE;
			border-bottom: 1px solid #C9C9C9;
			&:hover {
				background-color: #DDD;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
