html.full_window_editor {
  height: 100%;
  background-color: #FEFEFE; }
  html.full_window_editor > body {
    height: 100%;
    padding: 15px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    html.full_window_editor > body > #editor {
      height: 100%; }

#editor {
  font-family: "Source Sans Pro"; }
  #editor.tablet, #editor.phone {
    font-size: 1.5em; }
  #editor.phone > #obj_nav {
    width: 100%; }
    #editor.phone > #obj_nav > table.col {
      width: 100%; }
  #editor > #obj_nav {
    float: left; }
    #editor > #obj_nav > table.col {
      border: 1px solid #CCC;
      min-width: 100px;
      float: left;
      border-collapse: collapse;
      margin: 5px; }
      #editor > #obj_nav > table.col.curr_col {
        min-width: 250px;
        box-shadow: 2px 2px 10px #666; }
        #editor > #obj_nav > table.col.curr_col > tbody > .header, #editor > #obj_nav > table.col.curr_col > tbody > .info {
          color: #222222;
          background-color: #e0e0e0; }
        #editor > #obj_nav > table.col.curr_col > tbody > .child {
          color: #222222; }
        #editor > #obj_nav > table.col.curr_col > tbody > tr > td.info {
          vertical-align: bottom; }
          #editor > #obj_nav > table.col.curr_col > tbody > tr > td.info > .add_prop {
            display: block; }
        #editor > #obj_nav > table.col.curr_col > tbody > tr > .value_summary {
          max-width: 100px; }
          #editor > #obj_nav > table.col.curr_col > tbody > tr > .value_summary.stateful_prop {
            border-right: 1px solid #999; }
      #editor > #obj_nav > table.col.editing {
        border: 1px solid #777; }
        #editor > #obj_nav > table.col.editing > tbody > tr.header {
          background-color: #CCC;
          color: black; }
        #editor > #obj_nav > table.col.editing > tbody > tr.info {
          color: black; }
          #editor > #obj_nav > table.col.editing > tbody > tr.info form.options {
            margin-bottom: 5px; }
            #editor > #obj_nav > table.col.editing > tbody > tr.info form.options > fieldset {
              background-color: #BBB;
              border: 1px solid #888;
              font-size: 0.8em;
              margin: 10px; }
              #editor > #obj_nav > table.col.editing > tbody > tr.info form.options > fieldset > legend {
                color: #888;
                text-align: right; }
              #editor > #obj_nav > table.col.editing > tbody > tr.info form.options > fieldset > div.copies_option_container > input#copies {
                display: block;
                font-family: "Inconsolata";
                color: black;
                background-color: #AAA;
                border: 1px solid #333;
                font-size: inherit; }
              #editor > #obj_nav > table.col.editing > tbody > tr.info form.options > fieldset > div.state_machine_option_container {
                margin-top: 9px;
                margin-bottom: 5px;
                border-top: 1px solid #AAA;
                padding-top: 8px; }
                #editor > #obj_nav > table.col.editing > tbody > tr.info form.options > fieldset > div.state_machine_option_container > #own_label, #editor > #obj_nav > table.col.editing > tbody > tr.info form.options > fieldset > div.state_machine_option_container #none_label {
                  margin-right: 10px; }
              #editor > #obj_nav > table.col.editing > tbody > tr.info form.options > fieldset > div.can_inherit_option_container {
                margin-top: 9px;
                margin-bottom: 5px;
                padding-top: 8px;
                border-top: 1px solid #AAA; }
          #editor > #obj_nav > table.col.editing > tbody > tr.info > td.info > .add_prop {
            padding-left: 25px; }
          #editor > #obj_nav > table.col.editing > tbody > tr.info td.info, #editor > #obj_nav > table.col.editing > tbody > tr.info td.info:hover {
            background-color: #CCC; }
            #editor > #obj_nav > table.col.editing > tbody > tr.info td.info > .edit, #editor > #obj_nav > table.col.editing > tbody > tr.info td.info:hover > .edit {
              background-color: #CCC; }
        #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name {
          cursor: text; }
          #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .drag_handle {
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
            color: #DDD;
            font-size: 0.9em;
            width: 20px;
            display: inline-block; }
            #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .drag_handle:active {
              cursor: grabbing;
              cursor: -moz-grabbing;
              cursor: -webkit-grabbing; }
          #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .dropdown {
            width: 250px;
            display: inline-block;
            border: 1px solid #CCC;
            background-color: #F9F9F9; }
            #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .dropdown:hover {
              background-color: #EEE;
              border: 1px solid #BBB; }
            #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .dropdown.expanded {
              background-color: #CCC;
              border: 1px solid #000; }
            #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .dropdown > .btn {
              width: 100%;
              padding-left: 5px;
              padding-right: 5px; }
            #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .dropdown .menu > .menu_item {
              font-family: "Source Sans Pro";
              width: 100%;
              cursor: pointer;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              padding-left: 15px;
              padding-right: 5px;
              background-color: #F9F9F9;
              border-bottom: 1px solid #DDD;
              padding-top: 2px;
              padding-bottom: 2px; }
              #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .dropdown .menu > .menu_item:hover {
                background-color: #EEE; }
              #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .dropdown .menu > .menu_item:last-child {
                border-bottom: none;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px; }
            #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .dropdown .menu .submenu .menu {
              width: 150px; }
            #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .dropdown .menu .submenu > .menu_item {
              background-color: red;
              font-family: "Source Sans Pro";
              background-color: #F9F9F9;
              width: 200px; }
          #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > input.rename {
            border: 1px solid #AAA;
            font-family: "Inconsolata";
            background-color: #EEE;
            font-size: inherit;
            padding: 0px;
            padding-left: 3px;
            margin: 0px; }
          #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .remove_button {
            cursor: pointer;
            text-align: center;
            padding-left: 5px;
            padding-right: 5px;
            border-left: 1px solid #EEE;
            color: #4169e1;
            text-decoration: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer; }
            #editor > #obj_nav > table.col.editing > tbody > tr.child > td.name > .remove_button:hover {
              text-decoration: underline; }
        #editor > #obj_nav > table.col.editing > tbody > tr.child.inherited {
          opacity: 0.9; }
          #editor > #obj_nav > table.col.editing > tbody > tr.child.inherited > td.name {
            padding-left: 26px; }
          #editor > #obj_nav > table.col.editing > tbody > tr.child.inherited > td.value_summary {
            text-align: center;
            color: #4169e1;
            text-decoration: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer; }
            #editor > #obj_nav > table.col.editing > tbody > tr.child.inherited > td.value_summary:hover {
              text-decoration: underline; }
        #editor > #obj_nav > table.col.editing > tbody > tr.child.builtin > td.name {
          padding-left: 26px; }
        #editor > #obj_nav > table.col.editing > tbody > tr.child > td.value_summary > select {
          margin: 0px; }
      #editor > #obj_nav > table.col > tbody > tr > .value_summary {
        max-width: 50px;
        overflow: hidden;
        text-align: right;
        word-break: break-all;
        white-space: nowrap;
        text-align: right; }
      #editor > #obj_nav > table.col > tbody > tr > th {
        font-weight: normal; }
      #editor > #obj_nav > table.col > tbody > tr > th, #editor > #obj_nav > table.col > tbody > tr > td {
        padding: 0px;
        margin: 0px; }
      #editor > #obj_nav > table.col > tbody > tr.no_children > td {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        text-align: left;
        padding: 5px;
        padding-left: 20px;
        background-color: white;
        color: #BBB; }
      #editor > #obj_nav > table.col > tbody > .header {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #888888;
        background-color: #f7f7f7;
        height: 35px; }
        #editor > #obj_nav > table.col > tbody > .header > th:hover {
          background-color: #eeeeee; }
        #editor > #obj_nav > table.col > tbody > .header > .obj_name {
          cursor: pointer;
          font-weight: 100;
          text-align: center;
          font-size: 1.5em;
          padding-top: 4px;
          padding-bottom: 2px;
          position: relative; }
          #editor > #obj_nav > table.col > tbody > .header > .obj_name > a.prev {
            top: 4px;
            color: #888;
            font-size: 1.2em;
            text-decoration: none;
            position: absolute;
            left: 0px;
            padding-left: 5px;
            padding-right: 5px; }
          #editor > #obj_nav > table.col > tbody > .header > .obj_name > .copy {
            color: #888; }
            #editor > #obj_nav > table.col > tbody > .header > .obj_name > .copy > input.copy_input {
              outline: none;
              border: none;
              background: none;
              font-family: inherit;
              font-size: inherit;
              font-weight: inherit;
              font-color: inherit; }
            #editor > #obj_nav > table.col > tbody > .header > .obj_name > .copy > span > .of_text {
              color: #BBB; }
        #editor > #obj_nav > table.col > tbody > .header > .statechart_cell {
          border-left: 1px solid #AAA;
          vertical-align: bottom; }
          #editor > #obj_nav > table.col > tbody > .header > .statechart_cell:hover {
            background-color: inherit; }
          #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart {
            position: relative; }
            #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart > .dropdown {
              font-size: 0.8em;
              background-color: #EEE; }
              #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart > .dropdown.transition {
                font-size: 0.6em; }
              #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart > .dropdown > .btn {
                width: 100%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                border-radius: 1px;
                border: 1px solid #999;
                overflow: hidden; }
                #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart > .dropdown > .btn > .caret {
                  margin-top: 3px; }
              #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart > .dropdown:hover {
                background-color: #DFDFDF; }
              #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart > .dropdown.expanded > .btn {
                background-color: #DDD;
                border-bottom: none; }
              #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart > .dropdown > .menu {
                left: 1px;
                box-sizing: border-box;
                -moz-box-sizing: border-box; }
                #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart > .dropdown > .menu > .menu_item {
                  cursor: pointer;
                  padding-left: 2px;
                  text-align: left;
                  background-color: #EEE;
                  border-bottom: 1px solid #C9C9C9; }
                  #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart > .dropdown > .menu > .menu_item:hover {
                    background-color: #DDD; }
                  #editor > #obj_nav > table.col > tbody > .header > .statechart_cell > .statechart > .dropdown > .menu > .menu_item:last-child {
                    border-bottom: none; }
      #editor > #obj_nav > table.col > tbody > .info {
        vertical-align: top; }
        #editor > #obj_nav > table.col > tbody > .info .edit {
          background-color: #e0e0e0;
          font-size: 0.8em;
          cursor: pointer;
          text-align: center;
          vertical-align: middle;
          padding-top: 3px;
          padding-bottom: 3px;
          color: #4169e1;
          text-decoration: none;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor: pointer; }
          #editor > #obj_nav > table.col > tbody > .info .edit:hover {
            text-decoration: underline; }
          #editor > #obj_nav > table.col > tbody > .info .edit:hover {
            background-color: #eeeeee; }
        #editor > #obj_nav > table.col > tbody > .info > td.info > .add_prop {
          padding: 4px;
          text-align: left;
          display: none;
          background-color: white;
          color: #4169e1;
          text-decoration: none;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor: pointer; }
          #editor > #obj_nav > table.col > tbody > .info > td.info > .add_prop:hover {
            text-decoration: underline; }
      #editor > #obj_nav > table.col > tbody > .child {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #666666;
        font-family: "Inconsolata";
        font-size: 1em;
        border-top: 1px solid #EEE; }
        #editor > #obj_nav > table.col > tbody > .child:nth-child(even) {
          background-color: #FFF; }
        #editor > #obj_nav > table.col > tbody > .child:nth-child(odd) {
          background-color: #FAFAFA; }
        #editor > #obj_nav > table.col > tbody > .child > .name {
          cursor: pointer;
          padding-left: 2px;
          padding-right: 5px; }
        #editor > #obj_nav > table.col > tbody > .child > .value_summary {
          cursor: pointer;
          overflow: hidden;
          display: inline-box;
          height: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          padding-right: 2px;
          text-align: right;
          border-left: 1px solid #EEE;
          color: #888; }
          #editor > #obj_nav > table.col > tbody > .child > .value_summary > .dict {
            text-align: right;
            cursor: pointer; }
            #editor > #obj_nav > table.col > tbody > .child > .value_summary > .dict > .copies {
              color: #BBB;
              padding-right: 3px; }
            #editor > #obj_nav > table.col > tbody > .child > .value_summary > .dict > .expand_arrow {
              color: #CCC; }
          #editor > #obj_nav > table.col > tbody > .child > .value_summary.constant {
            background-color: #EEE; }
        #editor > #obj_nav > table.col > tbody > .child:hover {
          background-color: #f4f6fa; }
        #editor > #obj_nav > table.col > tbody > .child.selected {
          background-color: #5274d4;
          color: white; }
          #editor > #obj_nav > table.col > tbody > .child.selected > .value_summary {
            border-left: 1px dashed #99B; }
            #editor > #obj_nav > table.col > tbody > .child.selected > .value_summary > .dict {
              color: white; }
        #editor > #obj_nav > table.col > tbody > .child.inherited {
          cursor: default;
          opacity: 0.5;
          background-image: url('images/stripe.png'); }
        #editor > #obj_nav > table.col > tbody > .child > .src {
          position: relative;
          display: block;
          vertical-align: top; }
          #editor > #obj_nav > table.col > tbody > .child > .src > .cell, #editor > #obj_nav > table.col > tbody > .child > .src > .unset {
            position: absolute; }
          #editor > #obj_nav > table.col > tbody > .child > .src > .cell {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #EEE;
            border-left: 1px solid #CCC;
            border-right: 1px solid #CCC;
            cursor: pointer;
            text-align: center;
            overflow: hidden;
            word-break: break-all;
            white-space: nowrap; }
            #editor > #obj_nav > table.col > tbody > .child > .src > .cell.active {
              color: red;
              border-left: 1px solid red;
              border-right: 1px solid red; }
            #editor > #obj_nav > table.col > tbody > .child > .src > .cell > input {
              width: 100%;
              background: none;
              border: none;
              font-family: inherit;
              text-align: inherit;
              font-size: inherit;
              outline: none;
              padding: 0px;
              margin: 0px; }
          #editor > #obj_nav > table.col > tbody > .child > .src > .pure_cell {
            color: black;
            text-align: center;
            display: block; }
          #editor > #obj_nav > table.col > tbody > .child > .src > .unset {
            width: 14px;
            height: 14px;
            border-radius: 7px;
            border: 1px solid #CCC;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background-color: #EEE;
            display: inline-block;
            top: 1px;
            cursor: pointer; }
            #editor > #obj_nav > table.col > tbody > .child > .src > .unset:hover {
              background-color: #DEDEDE; }
          #editor > #obj_nav > table.col > tbody > .child > .src.cannot_modify {
            background-image: url('images/stripe.png');
            display: table-cell; }

.dropdown {
  position: relative;
  border-radius: 3px; }
  .dropdown > .btn {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 3px; }
    .dropdown > .btn > .caret {
      display: inline-block;
      width: 0px;
      height: 0px;
      border-top: 4px solid #000;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      vertical-align: top;
      content: "";
      margin-top: 6px;
      position: absolute;
      right: 10px; }
  .dropdown > .menu {
    display: none;
    position: absolute;
    left: -1px;
    border: 1px solid black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
    background-color: white;
    width: 100%;
    z-index: 999; }
  .dropdown.expanded {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
    .dropdown.expanded > .menu {
      display: block; }

.submenu > .btn > .right_caret {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 4px solid #000;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  vertical-align: top;
  content: "";
  margin-top: 3px;
  position: absolute;
  right: 10px; }
.submenu > .menu {
  display: none;
  position: absolute;
  left: 100%;
  top: -1px;
  border: 1px solid black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
  z-index: 9999; }
.submenu.expanded > .menu {
  display: block; }
