<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Interstate Unit Tests</title>
	<link rel="stylesheet" href="resources/qunit.css">
	<%- ist_include(ist_inc.vendor) %>
	<%- ist_include(ist_inc.runtime, true) %>
	<%- ist_include(ist_inc.editor, true) %>
</head>
<body>
	<div id="perf_results" style="font-size: 1.2em; font-family: HelveticaNeue-Light;"><strong>Benchmarks:</strong> </div>
	<div id="qunit"></div>
	<div id="qunit-fixture"></div>
	<script type="text/javascript" src="resources/qunit.js"></script>
	<script type="text/javascript">
		//QUnit.config.notrycatch = true;

		QUnit.config.autostart = false;
		//QUnit.config.reorder = false;
		QUnit.config.hidepassed = false;
		QUnit.config.benchmarks = true;
		QUnit.config.profile_benchmarks = true;
		/*

		QUnit.config.urlConfig.push({
			id: "benchmarks",
			label: "Benchmarks",
			tooltip: "Also run benchmarks"
		});
		console.log(QUnit.config.benchmarks);
		*/

		//interstate.__debug = QUnit.config.notrycatch;
		//interstate.cjs.__debug = interstate.__debug;
	</script>
	<script type="text/javascript" src="memory_tests.js"></script>
	<script type="text/javascript" src="utils_tests.js"></script>
	<script type="text/javascript" src="state_machine_tests.js"></script>
	<script type="text/javascript" src="runtime_tests.js"></script>
	<script type="text/javascript" src="stateful_prop_tests.js"></script>
	<!--<script type="text/javascript" src="editor_tests.js"></script>-->
	<script type="text/javascript" src="query_tests.js"></script>
	<script type="text/javascript" src="specific_bug_tests.js"></script>
	<script type="text/javascript" src="performance_tests.js"></script>
</body>
</html>
